@charset "utf-8";

/*-------------------------------------
--------- PROPRIETES GENERALES --------
--------------------------------------*/

/* ----- Correction bug ---- */

*
{
	margin: 0;
	padding: 0;
}

*,
*:before,
*:after
{
	box-sizing: border-box;
}


.clearfix:before,
.clearfix:after
{
	content: " ";
	display: table;
}

.clearfix:after
{
	clear: both;
}


body
{
    width: 100%;
    background: white;
    font-family: 'Raleway', Arial, sans-serif;
    font-size: 62.5%;
    color: black;

}

img
{
	display: block;
}

/*-------------------------------------
-------------- HEADER -----------------
--------------------------------------*/

header{
margin-bottom: 70px;
}


/*-----Logo-----*/

.logo img{
	width: 200px;
	height: auto;
	float: left;
	margin-left: 30px;
}

/*-----Navigateur-----*/

nav
{
	float: right;
	width: 100%;
	max-width: 700px;
	margin-top: 50px;
}

nav ul{

	list-style: none;
	float: right;
	text-transform: uppercase;
}
nav ul li{
	display: inline;
	font-size: 1.5rem;
	margin-right: 30px;
}
nav ul li a{
	text-decoration: none;
	color: black;
}

nav ul li a:hover{
	border-bottom: solid 2px black;
}

#navlien{
	font-weight: bold;
}


/*-------------------------------------
--------------- INDEX -----------------
--------------------------------------*/

main
{
	width: 100%;
}

/*------ENTETE-------*/

section.entete
{
	width: 100%;
}

.titre{
	width: 70%;
	margin: 90px auto 40px auto;
}

.titre h2{
	font-size: 3.5rem;
	text-align: center;
	font-family: 'Josefin Sans', Arial, sans-serif;
	margin-top: 40px;
	font-weight: 400;
}

.titre ul
{
	list-style-type: none;
	width: 85%;
	margin: auto;
}

.titre ul li
{
	float: left;
	width: 20%;
}


.titre img{

	max-width: 50%;
	width: auto;
	height: auto;
	margin: auto;
}

.button{
	float: right;
	width: 25%;
	margin-right: 10%;
	font-size: 1.3rem;
	border: 3px solid black;
	padding: 1%;
	color: black;
	transition: 0.25s ease;
}

.button img{
	float: right;
}

.titre a{
	text-decoration: none;
}

.button:hover {
	/*transform: scale(1.1);*/background: #E6C3C1;
}

img.scroll
{
	max-width: 2%;
	width: 100%;
	height: auto;
	margin: 60px auto;
}

/*-------DEFINITION CONCEPT------*/

section.def
{
	margin-top: 120px;
	background-color: #f9f9f9;
}

.containerDef{
	width: 100%;
	max-width: 960px;
	margin: auto;
	padding: 2%;
}
.containerDef h3
{
	font-family: 'Josefin Sans', Arial, sans-serif;
	float: left;
	font-size: 4rem;
	font-weight: 400;
	line-height: 90%;
	width: 50%;
}
/*WhatSape en rose*/
.containerDef h3 strong
{
	display: inline-block;
	margin-left: 20%;
	font-weight: 400;
	color: #E6C3C1
}

/*Point d'inerrogation en gros*/
.containerDef h3 span
{
	font-size: 7rem;
}

.containerDef p
{
	float: right;
	width: 50%;
	font-size: 1rem;
	line-height: 130%;
	padding: 2%;
}

.containerDef a{
	color: #E6C3C1;
	font-weight: bold;
	text-decoration: none;
	display: inline-block;
	margin-top: 20px;
	font-size: 1.3rem;
}

/*------- CATEGORIES -------*/

section.categories
{
	width: 80%;
	margin: auto;
	padding: 2% 0;
}

section.categories h3{
	font-family: 'Josefin Sans', Arial, sans-serif;
	font-weight: 400;
	font-size: 1.5rem;
	margin: 30px auto;
	text-transform: uppercase;
}

.categories ul{
	list-style-type: none;
	width: 100%;
}

.categories li{
	float: left;
	width: 25%;
	transition: ease 0.25s;
}

.categories a{
	text-decoration: none;
	color: black;
}


.categories li:hover {
	transform: scale(1.1);
}


.categories img{
	max-width: 90%;
	width: auto;
	height: auto;
	margin: auto;
}

.categories h4
{
	text-align: center;
	font-size: 1.8rem;
	font-weight: 400;
	margin-top: 15px;
}

/*------- EN CE MOMENT -------*/

section.en-ce-moment
{
	width: 80%;
	margin: auto;
}

.en-ce-moment h3
{
	font-family: 'Josefin Sans', Arial, sans-serif;
	font-weight: 400;
	font-size: 1.5rem;
	margin: 50px auto;
}

/*------- AVIS -------*/

section.avis
{
	width: 80%;
	margin: auto;
}

.avis h3
{
	font-family: 'Josefin Sans', Arial, sans-serif;
	font-weight: 400;
	font-size: 1.5rem;
	margin: 50px auto;
	text-transform: uppercase;
}

.avis article
{
	width: 50%;
	float: left;
	
}

.avis article figure
{
	width: 65%;
	margin: auto;
}

.avis article img
{
	float: left;
	width: auto;
	height: auto;
	max-width: 50%;
}

.avis article figcaption
{

	float: right;
	width: 45%;
	font-size: 2rem;
	margin-top: 150px;
}

.avis article blockquote
{
	width: 72%;
	margin: auto;
	font-size: 1.2rem;
	line-height: 130%;
	background: url('../img-layout/quotes-gauche.png') no-repeat top left, url('../img-layout/quotes-droite.png') no-repeat bottom right;
	background-size: 50px 35px;
	padding: 7% 0;

}

.avis p
{
	width: 100%;
	margin: auto;
}


/*-------------------------------------
------------- PAGE CONTEXTE -----------
--------------------------------------*/

section.definition
{
	 width: 100%;
	 max-width: 960px;
	 margin: auto;
}

.concept
{
	
	font-family: 'Josefin Sans', Arial, sans-serif;
	font-size: 4rem;
	font-weight: 400;
	text-align: center;
	margin-bottom: 10px;
}

.definition h2 
{
	font-family: 'Josefin Sans', Arial, sans-serif;
	font-size: 4rem;
	font-weight: 400;
	line-height: 90%;
	margin-bottom: 70px;
}
/*WhatSape en rose*/
.definition h2 strong
{
	display: inline-block;
	margin-left: 10%;
	font-weight: 400;
	color: #E6C3C1
}

/*Point d'inerrogation en gros*/
.definition h2 span
{
	font-size: 7rem;
}

.definition article img
{
	float: left;
	max-width: 30%;	
	height: auto;
	width: auto;
	margin-top: 100px;
}


.definition article .content
{
	float: right;
	width: 60%;
	font-size: 1.2rem;
	line-height: 130%;
}

.content p
{
	width: 90%;
	float: left;
	text-align: justify;
}

.content ul
{
	width: 85%;
	list-style-type: none;
	float: right;
	margin-top: 60px;
}

.content ul li
{
	margin-bottom: 30px;
	font-family: 'Josefin Sans', Arial, sans-serif;
	float: right;
	font-weight: 700;
}

.content ul li span
{
	font-size: 5rem;
	font-weight: bold;
	display: inline-block;
	margin-right: 30px;
}

 .vert
{
	color: #CCE5B9;
}

.violet
{
	color: #D9C3DC;
}

.bleu
{
	color: #BFE4DA;
}

/*-------------------------------------
----------- PAGE ANNONCES -------------
--------------------------------------*/

section.annonces
{
	max-width: 960px;
	width: 100%;
	margin: auto;

}

.annonces h2 
{
	
	font-family: 'Josefin Sans', Arial, sans-serif;
	font-size: 4rem;
	font-weight: 400;
	text-align: center;
	margin-bottom: 20px;
}

.annonces h3
{
	float: right;
	font-size: 3.5rem;
	color: #E6C3C1;
	font-family: 'Josefin Sans', Arial, sans-serif;
	font-weight: 400;
	margin-bottom: 10px;
}

.annonces h3 img
{
	max-width: 20%;
	width: auto;
	height: auto;
	float: right;
	margin-top: 40px;
}

.annonces form
{
	float: right;
	width: 100%;
	font-size: 1.7rem;
	font-family: 'Josefin Sans', Arial, sans-serif;
	clear: both;
}

.annonces form div
{
	float: right;
	margin-right: 3%;
}

.annonces label
{
	float: left;
}

.annonces select
{
	float: right;
	margin: 8px 0 0 10px;
}

/*-------------------------------------
----------- PAGE ANNONCES -------------
--------------------------------------*/

section.annonces
{
	max-width: 960px;
	width: 100%;
	margin: auto;
}

.annonces h2 
{
	
	font-family: 'Josefin Sans', Arial, sans-serif;
	font-size: 4rem;
	font-weight: 400;
	text-align: center;
	margin-bottom: 20px;
}

.annonces h3
{
	float: right;
	font-size: 3.5rem;
	color: #E6C3C1;
	font-family: 'Josefin Sans', Arial, sans-serif;
	font-weight: 400;
	margin-bottom: 10px;
}

.annonces h3 img
{
	max-width: 20%;
	width: auto;
	height: auto;
	float: right;
	margin-top: 40px;
}

.annonces form
{
	float: right;
	width: 100%;
	font-size: 1.7rem;
	font-family: 'Josefin Sans', Arial, sans-serif;
	clear: both;
}

.annonces form div
{
	float: right;
	margin-right: 3%;
}

.annonces label
{
	float: left;
}

.annonces select
{
	float: right;
	margin: 8px 0 0 10px;
}

/*-------------------------------------
---------------- Page Merci ---------------
--------------------------------------*/



.formtitre{
	font-size: 100px;
	text-align: center;
	font-family: 'Josefin Sans', Arial, sans-serif;
	font-weight: 100;
}

.merci{
	display: flex;
	margin-top: 100px;

}

.photodroite img{
	margin: 10px;
	width: 100px;
	height: 100px;

}

.photogauche img{
	margin: 10px;
	width: 100px;
	height: 100px;
	margin-left: 80%;
}

.photogauche,
.photodroite{
	width: 30%;
	display: flex;
	flex-direction: column;
	
}
.textcentre{
	width: 40%;
	font-size: 50px;
	font-family: "Raleway";
	font-style: normal;
	font-weight: normal;
	text-align: center;
	line-height: 130%;
	color: #000000;
	opacity: 1.00;

}

.photodroite{
	flex-direction: column-reverse;
}

.textcentre a{
	font-size: 40px;
	padding: 10px;
	text-decoration: none;
	color: black;
	background: #FFFFFF;
	opacity: 1.00;
	border: 5px solid #333333;
	box-sizing: border-box;
}
/*-------Formulaire-------*/
/* Positionnement des blocks , images au dessus */

.formulaire{
	background: rgba(242, 242, 242, 0.44);
	opacity: 1.00;
	width: 40%;
}

.formulaire form p{
	text-align: center;
	font-size: 35px;
	line-height: 100px;
	width: 80%;
	margin: 0 auto;
	font-weight: lighter;
}

.formulaire form p label{
	float: left; /* positionnement texte gauche */
	vertical-align: center;
}

.formulaire form p select,
.formulaire form p input{
	float: right; /* Positionnement des cases à droite */
	height: 40px;
	margin-top: 25px;
	width: 50%;
	font-size: 25px;
	font-family: "Raleway";
	
}

.formulaire form p textarea{
	width: 50%;
	float: right;
}

#condition{
	width: 100%
}

#image{
	margin-top: 30px;
	font-size:15px;
}


.formulaire form p select option{
	font-family: "Raleway";
	font-size: 20px;

}

#boutonvalider{
	background-color: #e6c3c1;
	width: 100px;
	height: 50px;
	border-color: #d4d4d4;

}

/*-------------------------------------
---------------- FOOTER ---------------
--------------------------------------*/

footer
{
	margin-top: 100px;
	background: #F2F2F2;
	border-top: #BDBDBD solid 1px;
	height: 100px;
}

footer p
{
	width: 60%;
	margin: 40px auto 0 auto;
	text-align: center;
	font-size: 0.8rem;
}